<header>
    <h1>Perfil</h1>
    <img src="assets/ronaldo.gif" alt="Imagen de Perfil" style="width:400px;height:200px;">
</header>

<section class="info-personal">
    <h2>Informacion Personal</h2>
    <p>Nombre: Cristian Ronaldo</p>
    <p>Edad: 37 años</p>
    <p>Ubicacion: Dubai</p>
    <p>Descripción: Soy un amante de la tecnologia, la programacion y el futbol de vez en cuando.</p>
</section>

<!-- Sección de reproducción de audio -->
<section class="audio-reproduccion">
    <h2>Reproductor de Audio</h2>
    <audio controls>
        <source src="assets/lluvia2.ogg" type="audio/ogg">
    </audio>
</section>

<section class="video-personal">
    <h2>Mi Video</h2>
    <video controls width="400">
        <source src="assets/goles.mp4" type="video/mp4">
        Tu navegador no soporta el elemento de video.
    </video>
</section>

<section class="estadisticas">
    <h2>Estadisticas</h2>
    <div class="stat">Seguidores: 609M</div>
    <div class="stat">Seguidos: 568</div>
    <div class="stat">Publicaciones: 3571</div>
</section>

<footer>
    <h3>Contacto</h3>
    <p>Email: critianoronaldomoney.com</p>
    <p>Teléfono: 676832134</p>
    <div class="redes-sociales">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
    </div>
</footer>
